/bin/
# Ignore Gradle project-specific cache directory
.gradle
lib/bin/
Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
.iml
.ipr
*.iws 
.project
.settings/
.classpath

# Ignore Gradle build output directory
build
